# ======================== Qdrant Config ========================

QDRANT__URL="https://your-cluster-id.us-east4-0.gcp.cloud.qdrant.io:6333"
QDRANT__API_KEY="your-qdrant-api-key"
QDRANT__COLLECTION_NAME="plant_diseases_kb"
QDRANT__UPLOAD_BATCH_SIZE=64
QDRANT__DATA_JSON_PATH="chatbot/diseases_from_md_clean.json"

# ======================== HuggingFace Embedding Config ========================

HUGGINGFACE__MODEL_NAME="sentence-transformers/all-MiniLM-L6-v2"
HUGGINGFACE__MODEL_DIMENSIONS=384